<footer class="alert alert-info navbar navbar-fixed-bottom">
    &copy; 2016 | COMP2068
</footer>

<!--js-->
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<!-- the validator requires the script above, so it will be put below -->
<script src="/javascripts/jquery.validate.min.js"></script>
<script src="/javascripts/scripts.js"></script>
</body>
</html>
