<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
</head>
<body>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <% if (user)
            { %>
              <li><a href="/games">Games</a></li>
              <li><a href="/logout">Logout</a></li>

            <% }
            else
            { %>
              <li><a href="/register">Register</a></li>
              <li><a href="/login">Login</a></li>
            <% } %>
        </ul>
        <% if (user) { %>
          <div class="navbar-text pull-right">
            Welcome, <%= user.username %>
          </div>
        <% } %>
    </nav>
